doctype html 
html(lang="ko")
    head        
        title #{pageTitle} | Wetube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        //calendar//
        h1 #{calendar_month}월
        div 
            table
                thead 
                    th 월
                    th 화
                    th 수
                    th 목
                    th 금
                    th 토
                    th 일
                tr
                    each date in arWeek
                        td((click)='showDate')=date
        //ToDoList//
        div
            form
                input(type="text")
                input(type="submit" value="저장")
            ul#todo-list 
        