doctype html 
html(lang="ko")
    head        
        title #{pageTitle} | Wetube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        header 
            nav 
                ul
                    li 
                        a(href="/") 홈
                    li 
                        a(href="/login") 로그인
        //calendar//
        h1 #{calendar_month}월
        div 
            table
                thead 
                    th 월
                    th 화
                    th 수
                    th 목
                    th 금
                    th 토
                    th 일
                tr
                    each date in arWeek
                        td=date
        //ToDoList//
        div
            form#toDoForm
                input(type="text")
                input(type="submit" value="저장")
            ul#todo-list 
        