include mixins/todo_list

doctype html 
html(lang="ko")
    head        
        title #{pageTitle} | Wetube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        
    body
        header 
            nav 
                ul
                    li 
                        a(href="/") 홈
                    li 
                        a(href="/login") 로그인
        //calendar//
        h1 #{calendar_month}월
        div 
            table
                thead 
                    th 월
                    th 화
                    th 수
                    th 목
                    th 금
                    th 토
                    th 일
                tr
                    each date in arWeek
                        td=date
        //ToDoList//
        div
            form(method="POST")
                input(name="subject", placeholder="과목", required, type="text")
                input(name="name", placeholder="과제 이름", required, type="text")
                input(name="content", placeholder = "과제 내용", type="text")
                input(name="due_date", type="date")
                input(nape="due_time", type="time")
                input(type="submit" value="저장")
            #todo_list
                div
                    each todo in todos
                        +todo_list(todo)
        